[submodule "SAUVC-Autonomy"]
	path = SAUVC-Autonomy
	url = https://github.com/NCTU-AUV/SAUVC-Autonomy.git
[submodule "SAUVC-RPI"]
	path = SAUVC-RPI
	url = https://github.com/NCTU-AUV/SAUVC-RPI.git
[submodule "SAUVC-Simulation"]
	path = SAUVC-Simulation
	url = https://github.com/NCTU-AUV/SAUVC-Simulation.git
